*{
	box-sizing: border-box;
}



.title
{
	width: 26.66%; 
	text-align: center;
	float: right; 
	border-left: medium solid;
	border-bottom: medium solid;
	background-color: green;
}
.title h1
{
	margin: 0px;
}
.section
{
	background-color: orange;
	margin: 5px;
	border: solid black;
}

@media (min-width:992px ){
.col-lg-1 
{
width: 8.33%;
}
.col-lg-2 
{
width: 16.66%;
}
.col-lg-3 
{
	width: 25%;
}
.col-lg-4 
{
	width: 33.33%;
}
.col-lg-5 
{
	width: 41.67%
}
.col-lg-6
{
	width: 50%;
}
.col-lg-7
{
	width: 58.33%;
}
.col-lg-8
{
	width: 66.66%
}
.col-lg-9
{
	width: 75%;
}
.col-lg-10
{
	width: 83.33%;
}
.col-lg-11
{
	width: 91.66%;
}
.col-lg-12
{
	width: 100%;
}
}
@media (min-width:768px ) and (max-width:991px ){
.col-md-1 
{
width: 8.33%;
}
.col-md-2 
{
width: 16.66%;
}
.col-md-3 
{
	width: 25%;
}
.col-md-4 
{
	width: 33.33%;
}
.col-md-5 
{
	width: 41.67%
}
.col-md-6
{
	width: 50%;
}
.col-md-7
{
	width: 58.33%;
}
.col-md-8
{
	width: 66.66%						<link rel="stylesheet" type="text/css" href="css/styles.css">
}
.col-md-9
{
	width: 75%;
}
.col-md-10
{
	width: 83.33%;
}
.col-md-11
{
	width: 91.66%;
}
.col-md-12
{
	width: 100%;
}
}